# Ignore Python cache files
__pycache__/

# Archive files
archive/

# Ignore files related to Claude
CLAUDE.md
.claudeignore
.claude/
AGENTS.md
Instructions.md

# Ignore environment variable files
.env

setup_env.md